version: "3.8"

services:

  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    volumes:
      - mongo-data:/data/db


  backend:
    image: mukhtarsheikh/mean-backend:latest
    container_name: backend
    restart: always
    depends_on:
      - mongodb


  frontend:
    image: mukhtarsheikh/mean-frontend:latest
    container_name: frontend
    restart: always
    depends_on:
      - backend


  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend


volumes:
  mongo-data: