version: "3.8"

services:

  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db


  backend:
    image: mukhtarsheikh/mean-backend:latest
    container_name: backend
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    environment:
      - DB_HOST=mongodb


  frontend:
    image: mukhtarsheikh/mean-frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend


volumes:
  mongo-data: